<div class="tooltip-example">
   <div>
    <xy-button color="accent" [tooltip]="'Right Tooltip'" [tooltipClass]="'xy-tooltip-right'" placement="right">tootip on right</xy-button>
   </div>
   <br><br>
   <div>
    <xy-button color="accent" [tooltip]="'Top Tooltip'" [tooltipClass]="'xy-tooltip-above'" placement="above">tootip on top</xy-button>
   </div>
   <br><br>
   <div>
      <xy-button color="accent" [tooltip]="'Left Tooltip'" [tooltipClass]="'xy-tooltip-left'" placement="left">tootip on left</xy-button>
   </div>
   <br><br>
   <div>
      <xy-button color="accent" [tooltip]="'Bottom Tooltip'" [tooltipClass]="'xy-tooltip-below'" placement="below">tootip on bottom</xy-button>
   </div>
</div>

