<div class="xy-grid">
    <div class="inset-devider">
        <xy-card title="Inset Divder">
            <xy-checkbox value="checkbox-accent" class="checkbox" color="accent" > SubTitle 1 </xy-checkbox> 
            <xy-divider [inset]="true"></xy-divider>
            <xy-checkbox value="checkbox-accent" class="checkbox"  color="accent" > SubTitle 1 </xy-checkbox> 
            <xy-divider [inset]="true"></xy-divider>
            <xy-checkbox value="checkbox-accent" class="checkbox"  color="accent" > SubTitle 1 </xy-checkbox> 
            <xy-divider [inset]="true"></xy-divider>
            <xy-checkbox value="checkbox-accent" class="checkbox" color="accent" > SubTitle 1 </xy-checkbox> 
            <xy-divider [inset]="true"></xy-divider>
            <xy-checkbox value="checkbox-accent" class="checkbox" color="accent" > SubTitle 1 </xy-checkbox> 
            <xy-divider [inset]="true"></xy-divider>
            <xy-checkbox value="checkbox-accent" class="checkbox" color="accent" > SubTitle 1 </xy-checkbox> 
        </xy-card>
    </div>
    
    <div class="inset-devider full">
        <xy-card title="Full Width Dividers">
            <xy-card-header-action>
                <xy-button light-weight-button color="accent">Acknowledge All</xy-button>
            </xy-card-header-action>
            <xy-checkbox value="checkbox-accent" class="checkbox" color="accent" > SubTitle 1 </xy-checkbox> 
            <xy-divider></xy-divider>
            <xy-checkbox value="checkbox-accent" class="checkbox" color="accent" > SubTitle 1 </xy-checkbox> 
            <xy-divider></xy-divider>
            <xy-checkbox value="checkbox-accent" class="checkbox" color="accent" > SubTitle 1 </xy-checkbox> 
            <xy-divider></xy-divider>
            <xy-checkbox value="checkbox-accent" class="checkbox" color="accent" > SubTitle 1 </xy-checkbox> 
            <xy-divider></xy-divider>
            <xy-checkbox value="checkbox-accent" class="checkbox"  color="accent" > SubTitle 1 </xy-checkbox> 
            <xy-divider></xy-divider>
            <xy-checkbox value="checkbox-accent"  class="checkbox" color="accent" > SubTitle 1 </xy-checkbox> 
        </xy-card>
    </div>
    
</div>